.idea
*.iml
*.ipr

pom.xml.releaseBackup
release.properties
target/

.metadata/
.settings/
RemoteSystemsTempFiles/
.classpath
.project

nb-configuration.xml

bower_components/
node/
node_modules/

/web